<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img src="assets/images/slide2.png" class="d-block w-100" alt="..."/>
      <div class="carousel-caption d-none d-md-block carousel-section">
        <h5 class="carousel-title">Iphone14 Series</h5>
        <p class="carousel-description">Up to 10% off Voucher</p>
        <a class="carousel-link" href="">Shop Now!</a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
      src="assets/images/slide2.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>