.link-active{
    text-decoration: underline !important; 
}

header{
    padding: 40px 190px 20px 190px;
    font-family: "Poppins";
    border-bottom: 1px solid #F5F5F5;
}
.header-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-links{
    display: flex;
    gap: 0 48px;
    justify-content: space-between;
}
.header-links > a{
    color: #000;
    text-decoration: none;
    font-size: 16;
    font-weight: 500;
}


.header-system{
    display: flex;
    gap: 0 24px;
    justify-content: space-between;
}
.header-search-form{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search-form > button{
    outline: none;
    border: 0 solid transparent;
    cursor: pointer;
    position: relative;
    right: 35px;
}
.header-search-input{
    font-size: 12px;
    width: 243px;
    height: 38px;
    border-radius: 4px;
    border: transparent;
    background-color: #F5F5F5;
    padding: 7px  12px 7px 20px;
}

.header-search-input:focus{
    outline: none;
}


.header-system-icon{
    display: flex;
    gap: 0 16px;
    justify-content: space-between;
    align-items: center;
}
.header-system-icon > a{
    text-decoration: none;
}
