<div class="announcement-block">
    <img class="announcement-block-image" src="assets/images/announcement/ad1.png" alt="">
    <div class="ad-side-block">
        <div class="ad-side-block-text">{{ productAnnouncement.text }}</div>
        <div class="ad-side-block-date">
            <div class="ad-date-circle">
                <h1>{{ countdown.days }}</h1>
                <h2>Dias</h2>
            </div>
            <div class="ad-date-circle">
                <h1>{{ countdown.hours }}</h1>
                <h2>Horas</h2>
            </div>
            <div class="ad-date-circle">
                <h1>{{ countdown.minutes }}</h1>
                <h2>Minutos</h2>
            </div>
            <div class="ad-date-circle">
                <h1>{{ countdown.seconds }}</h1>
                <h2>Segundos</h2>
            </div>
        </div>
        <a class="ad-side-block-button">Shop Now!</a>
    </div>
</div>