.product-category{
    cursor: pointer;
    padding: 20px;
    width: 170px;
    height: 145px;
    border-radius: 4px;
    border: 2px solid #f5f5f5;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
    transform: 0.2s;
}
.product-category-name{
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: 0.2s;
    transform: 0.2s;
}
.product-category-icon{
    transition: 0.2s;
    transform: 0.2s;
}
.product-category-hover{
    border: 2px solid #060606;
    background-color: #000;
}
.product-category-icon-hover{
    filter: invert(1);
    color: #FFF;
}
.product-category-name-hover{
    color: #FFF;
}